/*Introduction/Default Section*/

body
{
	margin-left: 60px;
	margin-right: 60px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:#11511E ;
	background-color:#b093f1;
	
}

header, footer
{
	text-align: center;
}

h1, h2, h3
{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	line-height: 0px;
}

a
{
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
	color: purple;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: lightblue;
}

figure
{
	text-align: center;
}

figcaption
{
	font-weight:bold;
    text-align: center;
}

nav
{
	text-align: center;
}

/* Contract Page additions */
#contract_description
{
    text-align: center;
}

/* Tables */
table
{
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}

thead
{
	background-color: black;
}

th, td
{
	border: 3px solid black;
	padding: .1em .1em .1em .1em;
	text-align: center;
	vertical-align: middle;
	color:#1A7C2E;
}

tbody tr:nth-child(even) td
{
	background-color: #3a3638;
}

#table_list
{
    text-align: center;
}

#final_row
{
	background-color: #3a3638;
}

/* Forms */
input[type="text"]
{
	color:#30e756;
	background-color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select
{
	color:#1A7C2E;
	background-color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: black 1px;
}

button
{
 background-color: purple;
 color:white;
}

.form_headers
{
    text-align: left;
}

/**Website Evaluations**/

.headerlink
{
	color:#11511E ;
}

.web_evaluation_header
{
	text-align: left;
}

/**First Script**/
.all_buttons
{
	align-items: center;
	text-align: center;
	
}

.script_buttons
{
	font-family: 'Courier New', Courier, monospace;
	justify-content: center;
	padding: 10px;
}

.tagline
{
	font-style: italic;
}