body
{
	margin-left: 60px;
	margin-right: 60px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:#30e756 ;
	background-color:#b093f1;
	
}

li
{
	text-align: center;
}

p
{
	text-align: center;
}

header, footer
{
	text-align: center;
}

h1, h2
{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	line-height: 0px;
}

h3
{
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
	line-height: 0px;
}

a
{
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
	color: purple;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: lightblue;
}

figure
{
	text-align: center;
}

figcaption
{
	font-size: 12px;
	text-align: center;
}

nav
{
	text-align: center;
}

input[type="text"]
{
	color:#30e756;
	background-color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select
{
	color:#30e756;
	background-color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: black 1px;
}

button
{
 background-color: purple;
 color:white;
}
