img
{
    margin-top: 50px;
    margin-bottom: 1px;
    margin-left: 17px;
    margin-right: 5px;
    border-top: 60px solid #413;
    border-bottom: 75px solid #810;
    border-right: 45px solid #03873483;
    border-left: 100px solid #952;
}

body
{
    background-color: white;
    color: black;
}

h1
{
    font-family: "Papyrus";
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

p
{
    margin-top: 20px;
    margin-bottom: 9px;
    margin-left: 27px;
    margin-right: 0px;
    font-size: 48px;
    font-family: "Comic Sans MS";
    text-align: center;
    text-decoration: underline;
}