body
{
 background-color: #DEA402;
}

h1
{
    font-size: 48px;
}

h2
{
    font-style: italic;
}

header
{
    background-color: #A50104;
    text-align: center;
    color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

nav
{
    background-color: #590004;
    color: #f3f3f3;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a
{
    color: #f3f3f3;
}

a:hover
{
    color: #DEA402;
}

#resturant1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50%;
	color: #f3f3f3;
    background-color: #590004;
    padding-left: 10px;
    padding-right: 10px;
}

#resturant2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50%;
	color: #f3f3f3;
    background-color: #590004;
    padding-left: 10px;
    padding-right: 10px;
}

#resturant3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50%;
	color: #f3f3f3;
    background-color: #590004;
    padding-left: 10px;
    padding-right: 10px;
}

#contact
{
    color: #f3f3f3;
    background-color: #590004;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align:center;
}

footer
{
    background-color: #A50104;
    text-align: center;
}

#bad,#superica,#yard,#lettys,#mama,#paco,#midwood
{
    height: 50%;
    width: 50%;
}

#feedback
{
    height: 100px;
    width: 300px;
}

#submit
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DEA402;
    color: #f3f3f3;
    height: 40px;
    width: 100px;
}

